<h1>Wish Saver</h1>

<h3>Save your wishes for another day</h3>

<ul>
  {{#each wish}}
  	<li>
  	   <p>ID: {{this.id}}</p>
       <p>wish: {{this.wish}}</p>
  	</li>
  {{/each}}
</ul>

<form action="/" method="POST">
	<textarea type="text" name="wish"></textarea>

	<button type="submit">Submit</button>
</form>
